<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShowDebugMenu</key>
	<false/>
	<key>LogIncomingXML</key>
	<false/>
	<key>LogOutgoingXML</key>
	<false/>
	<key>LogControlActions</key>
	<false/>
	<key>AdvancedWindowVisible</key>
	<false/>
	<key>EULAShown</key>
	<false/>
	<key>EULAUUID</key>
	<string></string>
	<key>ShowConnectionNotices</key>
	<true/>
	<key>ShowStatusMenu</key>
	<true/>
</dict>
</plist>
